/*
  cupcake.css v1.0.0

  A classless CSS framework to sweeten up your html pages.

  Cupcake.css can give ideal support for creating a simple about me page, a minimal featured blog or any system that renders markdown-generated HTML. In any way you will have the power over your semantic HTML back again! The foundations of the web are semantic - cupcakecss makes then more beautiful.

  Table of content
  ================
  1. VARIABLES (light/dark)
  2. BODY
  3. TEXT
  4. LINKS
  5. TABLES

*/

/* ===============================
  1. VARIABLES (light/dark)
=============================== */

:root {

  /* Color variables */
  --background:   #F8FAFC;
  --soft:         #E2E8F0;
  --muted:        #CBD5E1;
  --text:         #1E293B;
  --primary:      #1E293B;
  --secondary:    pink;

  /* Typography variables */
  --font-sans:        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-serif:       Georgia, 'Times New Roman', Times, serif;

  /* Base text variables */
  --text-headlines:   var(--font-sans);
  --text-body:        var(--font-sans);

  --headline-font-weight: 700;
  --list-symbol: "➔";

  --border-radius: 4px;

  /* Table variables */
  --table-border:             1px solid var(--soft);
  --table-row-border:         1px solid var(--soft);
  --table-col-border:         1px solid var(--soft);
  --table-zebra-background:   var(--background)
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    --soft: #1E293B;
    --muted: #64748B;
    --text: #F8FAFC;
    --primary: #F59E0B;
    --secondary: pink;
  }
}
*/

* {
  box-sizing: border-box;
}

::selection {
  /* Set background color for selected text */
  background: var(--primary);
  color: var(--soft);
}

body {
    max-width: 64rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: var(--text-body);
    color: var(--text);
    background-color: var(--background);
    accent-color: var(--primary);
    overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  border-bottom: 1px solid var(--muted);
  margin: 0 calc(0px - (50vw - 50%)) 2rem;  
  padding: 1rem calc(50vw - 50%);
}

header > h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}

header > h1 + * {
  margin-top: 0.5rem;
}

/* TYPOGRAPHY */

/* Headline sizes */
h1 { font-size: 3rem;
  line-height: 1; }
h2 { font-size: 2.25rem;
  line-height: 2.5rem; }
h3 { font-size: 1.875rem;
  line-height: 2.25rem; }
h4 { font-size: 1.5rem;
  line-height: 2rem; }
h5 { font-size: 1.25rem;
  line-height: 1.75rem; }
h6 { font-size: 1.125rem;
  line-height: 1.75rem; }

h1,h2,h3,h4,h5,h6 {
  font-family: var(--text-headlines);
  font-weight: var(--headline-font-weight);
}

small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

caption {
  font-size: 0.75rem;
  line-height: 1rem;
}

/* Reduce distance from headline and following paragraph */
h1+p,h2+p,h3+p,h4+p,h5+p,h6+p {
  margin-top: 1rem;
}

a {
  color: var(--primary);
}

abbr {
  cursor: help;
}

abbr:hover {
  background: var(--soft);
  box-shadow: 0 0 0 .25rem var(--soft);
  border-radius: var(--border-radius);
}

mark {
  background-color: var(--primary);
  color: var(--background)
}

blockquote, pre {
  background: var(--soft);
  margin-left: 0;
  margin-right: 0;
  padding: 1rem;
  border-left: 4px solid var(--muted);
  border-radius: var(--border-radius);
}

blockquote cite:before {
  content: "—";
  margin-right: .5rem;
}

blockquote cite {
  display: block;
  margin-top: 1rem;
}

kbd {
  display: inline-block;
  padding: .125rem .5rem;
  border: 1px solid var(--muted);
  border-bottom-width: 4px;
  border-radius: var(--border-radius);
  font-weight: 700;
}

dd:before {
  content: var(--list-symbol);
  margin-right: .25rem;
}

label {
  display: block;
}

label + input {
  margin-top: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select,
textarea {
  background: var(--background);
  border: 1px solid var(--muted);
  border-radius: var(--border-radius);
  color: var(--text);
  padding: .5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 100%;
  box-shadow: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline-color: var(--primary);
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  border: var(--table-border);
}

table tr:nth-child(even) {
  background-color: var(--table-zebra);
}

th, td {
  border-bottom: var(--table-row-border);
  border-right: var(--table-col-border);
  padding: .5rem;
}

hr {
  background-color: var(--soft);
  height: 1px;
  border: none;
}

button {
  background: var(--primary);
  border: 1px solid var(--primary);
  border-radius: var(--border-radius);
  color: var(--text);
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  cursor: pointer;
}

button:hover {
  opacity: .9;
}

button[type="reset"] {
  background: var(--background);
  color: var(--primary);
}