/* default theme */

:root {
  --cupcake-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --cupcake-mono: Consolas, monaco, "Ubuntu Mono", "Liberation Mono",
    "Courier New", Courier, monospace;
  --cupcake-background: #fefefe;
  --cupcake-text: #212121;
  --cupcake-primary: #00f;
  --cupcake-secondary: #00c;
  --cupcake-muted: #f4f4f4;
  --cupcake-highlight: #efeffe;
  --cupcake-gray: #ccc;
  --cupcake-accent: #3cf;
  --cupcake-darken: #333;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --cupcake-background: #111;
    --cupcake-text: #fff;
    --cupcake-primary: #3cf;
    --cupcake-secondary: #30c;
    --cupcake-muted: #191919;
    --cupcake-highlight: #333;
    --cupcake-gray: #555;
    --cupcake-accent: #3cf;
    --cupcake-darken: #111;
  }
}
*/

body > header h1 {
  margin: 0;
}

* {
  box-sizing: border-box;
  transition: 0.125s all ease-in-out;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  margin: 0;
  line-height: 1.75;
}

a {
  text-decoration: none;
  color: var(--cupcake-primary);
}

a:hover {
  color: var(--cupcake-secondary);
}

/* Layout */
body > header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--cupcake-muted);
  position: sticky;
  top: 0;
  background-color: var(--cupcake-background);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

body > header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

body > header section nav {
  height: 100%;
  display: flex;
  align-items: center;
}

body > header section nav a {
  padding: 0.5rem;
}

body > header > section > a {
  color: var(--cupcake-text);
  font-size: 1.5rem;
  font-weight: 700;
}

body > header > section > a:hover {
}

header section,
main,
footer section {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Typography */

h1,
h2,
h3 {
  margin: 2rem 0;
  line-height: 1.3;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

blockquote {
  margin: 1.5rem 0;
  padding: 1.5rem;
  background: #fff9db;
  border-radius: 0.25rem;
  border: 1px solid #ffe066;
  border-left-width: 0.5rem;
}

blockquote > :first-child {
  margin-top: 0;
}

code {
  background-color: var(--cupcake-muted);
  font-family: "Courier New", Courier, monospace;
  padding: 0.25rem;
  border-radius: 0.25rem;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  font-weight: 400;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

hr {
  margin: 2rem 0;
  border: 0;
  height: 1px;
  background-color: var(--cupcake-muted);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table th,
table td {
  text-align: left;
  padding: 0.75rem 0.75rem 0.75rem 0;
  border-bottom: 1px solid var(--cupcake-muted);
}

details + details {
  margin-top: 1rem;
}

details {
  border: 1px solid var(--cupcake-muted);
}

details:hover {
  border-color: var(--cupcake-gray);
}

details[open] summary {
  border-bottom: 0;
}

summary {
  cursor: pointer;
  font-weight: bold;
  padding: 1rem;
  outline: none;
}
details p {
  padding: 0 1rem;
}
