/*

  cupcake.css v1.0.0

  A classless CSS framework to sweeten up your html pages.

  Cupcake.css can give ideal support for creating a simple about me page, a minimal featured blog or any system that renders markdown-generated HTML. In any way you will have the power over your semantic HTML back again! The foundations of the web are semantic - cupcakecss makes then more beautiful.


  Table of content
  ================
  1. VARIABLES (light/dark)
  2. BODY
  3. TEXT
  4. LINKS
  5. TABLES

*/

/* ===============================
  1. VARIABLES (light/dark)
=============================== */

:root {
  --cupc-sans:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --cupc-mono:  Consolas, monaco, "Ubuntu Mono", "Liberation Mono", "Courier New", Courier, monospace;
  --cupc-serif: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  --cupc-bgc: #fefefe;
  --cupc-txt: #212121;
  --cupc-pri: #e00;
  --cupc-sec: #e00;
  --cupc-tri: #e00;
}

img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

/* ===============================
  2. BODY
=============================== */

body {
  font: 1em/1.5 Helvetica Neue, sans-serif, Droid Sans Fallback;
  color: var(--cupc-txt);
  background-color: var(--cupc-bgc);
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  height: 100%;
}

body > main {
  max-width: 64em;
  display: flex;
}

header {
  min-width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

main > section {
  flex: 1;
  padding: 2rem;
}

aside {
  flex: 1;
  max-width: 23.6%;
  padding: 2rem;
  border-left: 1px solid #ccc;
  background-color: #f4f4f4;
}

footer {
  min-width: 100%;
  padding: 1rem;
  border-top: 1px solid #ccc;
}

/* ===============================
  3. TEXT
=============================== */

h1,h2,h3,h4,h5,h6 {
  line-height: 1.3;
}

h1+p,h2+p,h3+p,h4+p,h5+p,h6+p {
  margin-top: 1rem;
}

h1 { font-size: 32px; margin: 0; }
h2 { font-size: 28px; margin: 0; }
h3 { font-size: 24px; margin: 0; }
h4 { font-size: 22px; margin: 0; }
h5 { font-size: 18px; margin: 0; }
h6 { font-size: 16px; margin: 0; }

@media screen and (min-width:32em) {
  h1 {font-size: 56px;}
  h2 {font-size: 44px;}
  h3 {font-size: 32px;}
  h4 {font-size: 28px;}
  h5 {font-size: 20px;}
  h6 {font-size: 18px;}
}

/* ===============================
  4. LINKS
=============================== */

a {
  color: var(--cupc-pri);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* ===============================
  5. TABLES
=============================== */

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

thead {
  background-color: #ccc;
}

tbody {

}

tbody tr {
  border-bottom: 1px solid #ccc;
}

th,td {
  padding: 0.5rem;
}

th {

}

td {

}

/* ===============================
  6. LAYOUTS
=============================== */

section {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*margin-left: -1rem;*/
  /*margin-right: -1rem;*/
}

@media (min-width:32em) {
  section {
    flex-direction: row;
  }
}

section > section {
  display: block;
  flex: 1;
  margin-left: 1rem;
  margin-right: 1rem;
}