:root {
  --cupcake-bg: #e6fffa;
  --cupcake-text: #234E52;
  --cupcake-primary: #B83280;
  --cupcake-secondary: #4FD1C5;
  --cupcake-highlight: #4FD1C5;
  --cupcake-muted: #A0AEC0;
  --cupcake-softness: 2rem;
}