/*
  cupcake.css v1.0.0

  A classless CSS framework to sweeten up your html pages.

  Cupcake.css can give ideal support for creating a simple about me page, a minimal featured blog or any system that renders markdown-generated HTML. In any way you will have the power over your semantic HTML back again! The foundations of the web are semantic - cupcakecss makes then more beautiful.

  Table of content
  ================
  1. VARIABLES (light/dark)
  2. BODY
  3. TEXT
  4. LINKS
  5. TABLES

*/

/* ===============================
  1. VARIABLES (light/dark)
=============================== */

:root {

  /* Color variables */
  --background:             #F8FAFC;
  --grayscale-1:            #F1F5F9;
  --grayscale-2:            #E2E8F0;
  --grayscale-3:            #CBD5E1;
  --grayscale-4:            #94A3B8;
  --grayscale-5:            #64748B;
  --grayscale-6:            #475569;
  --text:                   #1E293B;
  --primary:                #14B8A6;
  --accent:                 #F97316;

  --base-fontScale:           16px;
  --base-borderRadius:        8px;
  --base-boxShadow:           0 1px 3px 0 rgba(0, 0, 0, 0.1),
                              0 1px 2px 0 rgba(0, 0, 0, 0.06);

  /* Typography variables */
  --font-sans:                -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-serif:               Georgia, 'Times New Roman', Times, serif;
  --font-mono:                Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

  /* Base text variables */
  --body-font:                var(--font-sans);
  --body-font-weight:         400;
  --headlines-font:           var(--font-sans);
  --headlines-font-weight:    700;

  /* Layout options */
  --layout-wrap:              1140px;
  --layout-wrap-padding:      0 calc((50vw - 50%) + 2rem);

  /* Definition list variables */
  --list-symbol:              "➔";

  /* Details variables */
  --details-background:       var(--background);
  --details-border:           2px solid var(--grayscale-2);
  --details-padding:          .75rem 1rem;
  --details-border-radius:    var(--base-borderRadius);

  /* Table variables */
  --table-border:             none;
  --table-row-border:         1px solid var(--grayscale-2);
  --table-col-border:         none;
  --table-zebra-background:   var(--background);

  /* Header variables */
  --header-alignment:         left;
  --header-background:        var(--background);
  --header-border-bottom:     1px solid var(--grayscale-2);
  --header-box-shadow:        0 2px 8px rgba(0,0,0,.25);
  
  --header-wrap-margin:       0 calc(0px - (50vw - 50%)) 2rem;
  --header-wrap-padding:      2rem calc(50vw - 50%);

  /* Hero variables */
  --hero-alignment:           center;
  --hero-border-bottom:       1px solid var(--grayscale-2);
  --hero-y-padding:           8rem;
  --hero-background:          var(--grayscale-1);

  /* Button variables */
  --button-background:        var(--primary);
  --button-border:            1px solid var(--primary);
  --button-radius:            var(--base-borderRadius);
  --button-color:             var(--grayscale-6);
  --button-padding:           1.5rem 1rem;
  --button-text-transform:    none;
  --button-font-weight:       var(--headlines-font-weight);

  /* Code variables */
  --code-background:          var(--grayscale-1);
  --code-color:               var(--grayscale-5);
}

@media (prefers-color-scheme: dark) {
  :root {
  /* Color variables */
  --background:             #111827;
  --grayscale-1:            #1F2937;
  --grayscale-2:            #374151;
  --grayscale-3:            #4B5563;
  --grayscale-4:            #6B7280;
  --grayscale-5:            #9CA3AF;
  --grayscale-6:            #E5E7EB;
  --text:                   #E5E7EB;
  }
}

* {
  box-sizing: border-box;
}

::selection {
  /* Set background color for selected text */
  background: var(--primary);
  color: var(--grayscale-2);
}

html {
  font-size: var(--base-fontScale);
  font-family: var(--body-font);
  line-height: 1.5;
  accent-color: var(--primary);
}

body {
  max-width: var(--layout-wrap);
  color: var(--text);
  background-color: var(--background);
  overflow-x: hidden;
  margin: 0 auto;
  padding: var(--layout-wrap-padding);
}

img {
  max-width: 100%;
  height: auto;
}

header {
  margin: var(--header-wrap-margin);
  padding: var(--header-wrap-padding);
  box-shadow: var(--header-box-shadow);
  background: var(--header-background);
  border-bottom: var(--header-border-bottom);
  text-align: var(--header-alignment);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}

header > h1 + * {
  margin-top: 0;
}

header a {
  text-decoration: none;
}

nav a + a {
  margin-left: .5rem;
}

main > :first-child {
  margin-top: 0;
}

/* Hero component */
body > section:first-of-type {
  text-align: var(--hero-alignment);
  border-bottom: var(--hero-border-bottom);
  margin: 0 calc(0px - (50vw - 50%)) 2rem;  
  padding: var(--hero-y-padding) calc(50vw - 50%);
  background: var(--hero-background);
  margin-top: -2rem;
}

body > section:first-of-type > *:first-child {
  margin-top: 0;
}
body > section:first-of-type > *:last-child {
  margin-bottom: 0;
}

/* TYPOGRAPHY */

/* Headline sizes */
h1 { font-size: 2.25rem;    line-height: 2.5rem; }
h2 { font-size: 1.875rem;   line-height: 2.25rem; }
h3 { font-size: 1.5rem;     line-height: 2rem; }
h4 { font-size: 1.25rem;    line-height: 1.75rem; }
h5 { font-size: 1.125rem;   line-height: 1.75rem; }
h6 { font-size: 1rem;       line-height: 1.5rem; }

@media screen and (min-width:640px) {
  h1 { font-size: 3.5rem;   line-height: 1.3; }
  h2 { font-size: 2.25rem;  line-height: 2.5rem; }
  h3 { font-size: 1.875rem; line-height: 2.25rem; }
  h4 { font-size: 1.5rem;   line-height: 2rem; }
  h5 { font-size: 1.25rem;  line-height: 1.75rem; }
  h6 { font-size: 1.125rem; line-height: 1.75rem; }
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--headlines-font);
  font-weight: var(--headlines-font-weight);
  margin-bottom: 0;
  margin-top: 2rem;
}

/* Reduce distance when anything follows a headline  */
h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {
  margin-top: 1rem;
}

small {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--grayscale-5);
}

caption {
  font-size: 0.75rem;
  line-height: 1rem;
}

a {
  color: var(--primary);
}

/* Marking email links with an envelop unicode icon */
a[href^="mailto"]::after {
  content: " ✉";
}

abbr {
  cursor: help;
  border-bottom: 1px dotted var(--grayscale-5);
}

abbr:hover {
  border-bottom-color: var(--primary);
}

mark {
  background-color: var(--primary);
  color: var(--background)
}

code {
  background: var(--code-background);
  color: var(--code-color);
  padding: .125rem;
  border-radius: var(--base-borderRadius);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

code span {
  color: var(--grayscale-4);
}

pre {
  font-size: 0.875rem;
  line-height: 1.25rem;
  tab-size: 2;
  white-space: pre;
  overflow-x: auto;
  background: var(--code-background);
  color: var(--code-color);
  margin: 0;
  padding: 1rem;
  border-radius: var(--base-borderRadius);
  box-shadow: var(--base-boxShadow);
}

pre code {
  padding: 0;
  border-radius: 0;
  background: transparent;
}

blockquote {
  background: var(--grayscale-2);
  margin-left: 0;
  margin-right: 0;
  padding: 1rem;
  border-left: 4px solid var(--grayscale-3);
  border-radius: var(--base-borderRadius);
  box-shadow: var(--base-boxShadow);
  vertical-align: middle;
}

blockquote cite:before {
  content: "—";
  margin-right: .5rem;
}

blockquote cite {
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
}

kbd {
  display: inline;
  padding: .125rem .5rem;
  border: 1px solid var(--grayscale-3);
  border-bottom-width: 3px;
  font-size: 0.875rem;
  border-radius: var(--base-borderRadius);
  font-weight: 700;
  white-space: nowrap;
}

dl {

}

dl dt {
  font-weight: bold;
}

dl dd + dt {
  margin-top: 1rem;
}

dl dd {
  margin-left: 1.25rem;
}

dl dd:before {
  content: var(--list-symbol);
  margin-right: .25rem;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  border: var(--table-border);
}

table tr:nth-child(even) {
  background-color: var(--table-zebra-background);
}

th, td {
  border-bottom: var(--table-row-border);
  border-right: var(--table-col-border);
  padding: .5rem;
}

hr {
  background-color: var(--grayscale-2);
  height: 1px;
  border: none;
  margin: 2rem 0;
}

button {
  background: var(--button-background);
  border: var(--button-border);
  border-radius: var(--base-borderRadius);
  color: var(--button-color);
  font-weight: var(--button-font-weight);
  padding: var(--button-padding);
  text-transform: var(--button-text-transform);
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
  margin-top: 1rem;
}

button:hover {
  opacity: .8;
}

button[type="reset"] {
  background: transparent;
  color: var(--primary);
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

details > summary { 
  cursor: pointer;
  border: var(--details-border);
  padding: var(--details-padding);
  border-radius: var(--details-border-radius);
  display: flex;
  align-items: center;
}

details > summary:after {
  content: "↓";
  font-size: 1.5rem;
  margin-left: auto;
}

details[open] > summary:after {
  content: "↑";
}

details[open] > summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-width: 0;
}

details > div {
  border: 2px solid var(--grayscale-2);
  margin-top: 0;
  padding: 1rem;
  border-radius: var(--base-borderRadius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

details > summary > * { 
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
}

details > summary > * + * {
  margin-left: 1rem;
}

details > div > * {
  margin-top: 0;
  margin-bottom: 0;
}

details + details {
  margin-top: 1rem;
}

/* Forms */

label {
  display: flex;
}

label small {
  color: var(--grayscale-5);
  margin-left: auto;
}

/* Margin top for everything that follows an label */
label + input,
label + select,
label + textarea {
  margin-top: 0.25rem;
}

/* Make labels next to radio, checkbox inline-block */
input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline-block;
}

/* Margin between labels after an input */
label + label,
input:not(input[type="checkbox"]) + label,
input:not(input[type="radio"]) + label,
select + label,
textarea + label {
  margin-top: 1rem;
}

/* Margin between form elements without labels */
input + input,
input + select,
input + textarea,
select + select,
select + input,
select + textarea,
textarea + textarea,
textarea + input,
textarea + select {
  margin-top: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],
input[type="file"],
select,
textarea {
  background: var(--grayscale-1);
  border: 1px solid var(--grayscale-3);
  border-radius: var(--base-borderRadius);
  box-shadow: var(--base-boxShadow);
  color: var(--text);
  padding: .5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  display: block;
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="file"]:focus,
textarea:focus {
  outline-color: var(--primary);
}