/*
  cupcake.css v1.0.0

  A classless CSS framework to sweeten up your html pages.

  Cupcake.css can give ideal support for creating a simple about me page, a minimal featured blog or any system that renders markdown-generated HTML. In any way you will have the power over your semantic HTML back again! The foundations of the web are semantic - cupcakecss makes then more beautiful.

  Table of content
  ================
  1. VARIABLES (light/dark)
  2. BODY
  3. TEXT
  4. LINKS
  5. TABLES

*/

/* ===============================
  1. VARIABLES (light/dark)
=============================== */

:root {

  /* Color variables */
  --background:             #F8FAFC;

  --grayscale-1:            #F1F5F9;
  --grayscale-2:            #E2E8F0;
  --grayscale-3:            #CBD5E1;
  --grayscale-4:            #94A3B8;
  --grayscale-5:            #64748B;
  --grayscale-6:            #475569;

  --text:                   #1E293B;

  --primary:                #2563EB;

  /* Typography variables */
  --font-sans:                -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-serif:               Georgia, 'Times New Roman', Times, serif;
  --font-mono:                Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

  /* Base text variables */
  --text-headlines:           var(--font-sans);
  --headline-weight:          700;

  --text-body:                var(--font-sans);
  --text-weight:              400;

  /* Layout options */
  --body-wrap:                64em;
  --body-wrap-padding:        0 calc(50vw - 50%);

  /* Definition list variables */
  --list-symbol:              "➔";

  /* General style variables */
  --border-radius:            4px;
  --box-shadow:               0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);;

  /* Table variables */
  --table-border:             1px solid var(--grayscale-2);
  --table-row-border:         1px solid var(--grayscale-2);
  --table-col-border:         1px solid var(--grayscale-2);
  --table-zebra-background:   var(--background);

  /* Header variables */
  --header-alignment:         left;
  --header-background:        var(--background);
  --header-border-bottom:     1px solid var(--grayscale-2);
  --header-box-shadow:        0;
  
  --header-wrap-margin:       0 calc(0px - (50vw - 50%)) 2rem;
  --header-wrap-padding:      1rem calc(50vw - 50%);

  /* Hero variables */
  --hero-alignment:           left;
  --hero-border-bottom:       1px solid var(--grayscale-2);
  --hero-y-padding:           4rem;
  --hero-background:          transparent;

  /* Button variables */
  --button-background:        var(--primary);
  --button-border:            1px solid var(--primary);
  --button-radius:            var(--border-radius);
  --button-color:             var(--background);
  --button-padding:           1.5rem 1rem;
  --button-text-transform:    normal;
  --button-font-weight:       var(--headline-weight);

  /* Code variables */
  --code-background:          var(--text);
  --code-color:               var(--grayscale-1);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    --grayscale-2: #1E293B;
    --grayscale-3: #64748B;
    --text: #F8FAFC;
    --primary: #F59E0B;
    --secondary: pink;
  }
}
*/

* {
  box-sizing: border-box;
}

::selection {
  /* Set background color for selected text */
  background: var(--primary);
  color: var(--grayscale-2);
}

html {
}

body {
  max-width: var(--body-wrap);
  padding: var(--body-wrap-padding);
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: var(--text-body);
  color: var(--text);
  background-color: var(--background);
  accent-color: var(--primary);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  margin: var(--header-wrap-margin);
  padding: var(--header-wrap-padding);
  box-shadow: var(--header-box-shadow);
  background: var(--header-background);
  border-bottom: var(--header-border-bottom);
  text-align: var(--header-alignment);
}

header > h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}

header > h1 + * {
  margin-top: 1rem;
}

nav a + a {
  margin-left: .5rem;
}

/* Hero component */
header + section:first-of-type {
  text-align: var(--hero-alignment);
  border-bottom: var(--hero-border-bottom);
  margin: 0 calc(0px - (50vw - 50%)) 2rem;  
  padding: var(--hero-y-padding) calc(50vw - 50%);
  background: var(--hero-background);
  margin-top: -2rem;
}

header + section:first-of-type > *:first-child {
  margin-top: 0;
}
header + section:first-of-type > *:last-child {
  margin-bottom: 0;
}

/* TYPOGRAPHY */

/* Headline sizes */
h1 { font-size: 2.25rem;    line-height: 2.5rem; }
h2 { font-size: 1.875rem;   line-height: 2.25rem; }
h3 { font-size: 1.5rem;     line-height: 2rem; }
h4 { font-size: 1.25rem;    line-height: 1.75rem; }
h5 { font-size: 1.125rem;   line-height: 1.75rem; }
h6 { font-size: 1rem;       line-height: 1.5rem; }

@media screen and (min-width:640px) {
  h1 { font-size: 3.5rem;   line-height: 1.3; }
  h2 { font-size: 2.25rem;  line-height: 2.5rem; }
  h3 { font-size: 1.875rem; line-height: 2.25rem; }
  h4 { font-size: 1.5rem;   line-height: 2rem; }
  h5 { font-size: 1.25rem;  line-height: 1.75rem; }
  h6 { font-size: 1.125rem; line-height: 1.75rem; }
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--text-headlines);
  font-weight: var(--headline-weight);
  margin-bottom: 0;
  margin-top: 2rem;
}

/* Reduce distance when anything follows a headline  */
h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {
  margin-top: 1rem;
}

small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

caption {
  font-size: 0.75rem;
  line-height: 1rem;
}

a {
  color: var(--primary);
}

abbr {
  cursor: help;
  border-bottom: 1px dotted var(--grayscale-5);
}

abbr:hover {
  border-bottom-color: var(--primary);
}

mark {
  background-color: var(--primary);
  color: var(--background)
}

code {
  background: var(--text);
  color: var(--grayscale-1);
  padding: .125rem;
  border-radius: var(--border-radius);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

code span {
  color: var(--grayscale-4);
}

pre {
  font-size: 0.875rem;
  line-height: 1.25rem;
  tab-size: 2;
  white-space: pre;
  overflow-x: auto;
  background: var(--code-background);
  color: var(--code-color);
  margin: 0;
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

pre code {
  padding: 0;
  border-radius: 0;
  background: transparent;
}

blockquote {
  background: var(--grayscale-2);
  margin-left: 0;
  margin-right: 0;
  padding: 1rem;
  border-left: 4px solid var(--grayscale-3);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

blockquote cite:before {
  content: "—";
  margin-right: .5rem;
}

blockquote cite {
  display: block;
  margin-top: 1rem;
}

kbd {
  display: inline;
  padding: .125rem .5rem;
  border: 1px solid var(--grayscale-3);
  border-bottom-width: 3px;
  font-size: 0.875rem;
  border-radius: var(--border-radius);
  font-weight: 700;
}

dd:before {
  content: var(--list-symbol);
  margin-right: .25rem;
}

label {
  display: block;
}

label + input {
  margin-top: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select,
textarea {
  background: var(--background);
  border: 1px solid var(--grayscale-3);
  border-radius: var(--border-radius);
  color: var(--text);
  padding: .5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 100%;
  box-shadow: var(--box-shadow);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline-color: var(--primary);
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  border: var(--table-border);
}

table tr:nth-child(even) {
  background-color: var(--table-zebra);
}

th, td {
  border-bottom: var(--table-row-border);
  border-right: var(--table-col-border);
  padding: .5rem;
}

hr {
  background-color: var(--grayscale-2);
  height: 1px;
  border: none;
  margin: 2rem 0;
}

button {
  background: var(--button-background);
  border: var(--button-border);
  border-radius: var(--border-radius);
  color: var(--button-color);
  font-weight: var(--button-font-weight);
  padding: var(--button-padding);
  text-transform: var(--button-text-transform);
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

button:hover {
  opacity: .9;
}

button[type="reset"] {
  background: var(--background);
  color: var(--primary);
}

details > summary { 
  cursor: pointer;
  background-color: var(--grayscale-2);
  cursor: pointer;
  padding: .75rem 1rem;
  border-radius: var(--border-radius);
}

details[open] > summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

details > div {
  border: 2px solid var(--grayscale-2);
  margin-top: 0;
  padding: 1rem;
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

details > div > * {
  margin: 0;
}

details > summary > * { 
  display: inline;
}

details + details {
  margin-top: 1rem;
}